<html>
<head>
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'></script>
<style>
  #menu {
    background-color: #EFEFEF;
    padding: 10px;
    height: 50px;
  }
  #menu ul li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  #menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #2312A9;
  }
</style>
<script type="text/javascript">
  function loadme(url){
    jQuery.get(url, function(data){
      console.log("Loaded " + url + " via Ajax");
      jQuery('#content').html(data);
    });
  }

  jQuery(document).ready(function (){
    jQuery('#menu a').each(function (i){
        var l = this.href;
        this.href = '#';
        jQuery(this).click(function (){
          loadme(l);
        });
    });
  });
</script>
</head>
<body>
<div id="menu">{% include "menu.html" %}</div>

<div id="content">{% block content %}{% endblock %}</div>

<hr />
&copy; 2011 by Ulf
</body>
</html>
